.posts {
  list-style-type: none;
  margin-left: 0;
}

.post {
  margin: 1rem 0;

  a {
    color: black;
    background: #f4f4f4;
    display: block;
    padding: 1rem;
    text-decoration: none;
  }

  a:hover {
    background: darken($color: #f4f4f4, $amount: 10);
  }

  h2 {
    margin-bottom: 0;
  }

  p {
    color: #777777;
    font-size: 0.8rem;
    font-style: italic;
  }
}
